%tr{ role: 'row' }
  %td{ role: 'cell', data: { label: _('Id') } }
    = job.id
  %td{ role: 'cell', data: { label: s_('BackgroundMigrations|Started at') } }
    = job.started_at
  %td{ role: 'cell', data: { label: s_('BackgroundMigrations|Finished at') } }
    = job.finished_at
  %td{ role: 'cell', data: { label: s_('BackgroundMigrations|Batch size') } }
    = job.batch_size
